extends layout

block content
  h2 Registrierung

  // Erfolgsmeldung anzeigen
  if success && success.length
    p(style="color: green; font-weight: bold")= success[0]

  // Fehlermeldung anzeigen
  if error && error.length
    p(style="color: red; font-weight: bold")= error[0]

  form(action="/register" method="POST")
    label(for="username") Benutzername:
    input(
      type="text"
      id="username"
      name="username"
      required
      value=(formData && formData.username ? formData.username : '')
    )
    br
    br

    label(for="name") Name:
    input(
      type="text"
      id="name"
      name="name"
      required
      value=(formData && formData.name ? formData.name : '')
    )
    br
    br

    label(for="email") Email:
    input(
      type="email"
      id="email"
      name="email"
      required
      value=(formData && formData.email ? formData.email : '')
    )
    br
    br

    label(for="password") Passwort:
    input(type="password" id="password" name="password" required)
    br
    br

    label(for="confirm") Passwort bestätigen:
    input(type="password" id="confirm" name="confirm" required)
    br
    br

    button(type="submit") Registrieren
